<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .nav{
            display:flex;
        }
        .nav a{
            margin: 18px 10px;
            padding: 12px 20px;
            color: red;
            background-color: black;
        }
    </style>
    <div class="nav">
        <a href="/">home</a>
        <a href="2nd">2nd</a>
        <a href="3nd">3nd</a>
    </div>
</body>
</html>